* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: navy;
  color: white;
  text-align: center;
  margin: 0;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  padding: 12px;
  background-color: rgb(48, 99, 156);
}

.text-pick {
  padding: 50px;
  background-color: rgb(37, 76, 121);
  font-size: 20px;
  font-weight: 400;
}

.choices {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  gap: 150px;
  padding: 0px 200px;
  background-color: rgb(37, 76, 121);
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

img {
  width: 100%;
  height: auto;
}